:root {
    --background: rgb(76, 76, 76);
    --yellow: rgb(255, 200, 0);
    --red: rgb(255, 0, 0);
}

body {
    background-color: var(--background);
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    position: absolute;
    background-color: var(--yellow);
    width: 100%;
    height: 6vw;
    left: 0;
    top: 0;
}

.header_left {
    width: 50%;
    height: 6vw;
    left: 0;
}
.header_logo {
    height: 4vw;
    width: 4vw;
    right: 0;
    top: 0;
    margin: 1vw;
}
.header_logo img {
    height: 4vw;
    width: 4vw;
    right: 0;
    top: 0;
    margin: 1vw;
}
.header_like {
    height: 4vw;
    width: 4vw;
    right: 0;
    top: 0;
    margin: 1vw;
}
.header_like img {
    height: 4vw;
    width: 4vw;
    right: 0;
    top: 0;
    margin: 1vw;
}


.header_right {
    width: 50%;
    height: 6vw;
    right: 0;
}
.header_pfp {
    height: 4vw;
    width: 4vw;
    right: 0;
    top: 0;
    margin: 1vw;
}
.header_pfp img {
    height: 4vw;
    width: 4vw;
    right: 0;
    top: 0;
    margin: 1vw;
}
.header_impressum {
    height: 4vw;
    width: 4vw;
    right: 0;
    top: 0;
    margin: 1vw;
}