:root {

    --foreground: rgb(100, 100, 100);
    --background: rgb(76, 76, 76);
    --maintext: rgb(255, 255, 255);
    --yellow: rgb(255, 200, 0);
    --red: rgb(255, 0, 0);
}

.error {
    color: var(--red);
    background-color: var(--maintext);
    text-align: center;
    text-decoration: underline;
}

body {
    color: var(--maintext);
    text-decoration: none;
    background-color: var(--background);
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    position: fixed;
    left: 0;
    top: 0;
    box-sizing: content-box;
    width: 100vw;
    height: 4vw;
    margin: 0;
    background: fixed;
    background-color: var(--yellow);
}

.header a {
    color: var(--yellow);
    text-decoration: none;
}

.header_left {
    position: fixed;
    float: left;
    width: 50%;
    height: 4vw;
    left: 0;
}

.header_logo {
    float: left;
    height: 3vw;
    width: 3vw;
    right: 0;
    top: 0;
    margin: 0.5vw;
}

.header_logo img {
    height: 3vw;
    width: 3vw;
}

.header_logo img:hover {
    height: 3.2vw;
    width: 3.2vw;
    margin: -0.1vw;
}

.header_like {
    float: left;
    height: 3vw;
    width: 3vw;
    right: 0;
    top: 0;
    margin: 0.5vw;
}

.header_like img {
    height: 3vw;
    width: 3vw;
}

.header_like img:hover {
    height: 3.2vw;
    width: 3.2vw;
    margin: -0.1vw;
}


.header_right {
    position: fixed;
    float: right;
    width: 50%;
    height: 4vw;
    right: 0;
}

.header_pfp {
    float: right;
    height: 3vw;
    width: 3vw;
    right: 0;
    top: 0;
    margin: 0.5vw;
    margin-top: 0.3vw;
    margin-right: 1vw;
}

.header_pfp img {
    height: 3vw;
    width: 3vw;
    right: 0;
    top: 0;
    border: 0.2vw;
    border-color: var(--red);
    border-style: solid;
    border-radius: 100%;
}

.header_pfp img:hover {
    height: 3.2vw;
    width: 3.2vw;
    margin: 0.1vw;
    border: 0vw;
    border-style: hidden;

}

.header_impressum {
    font-size: 1.8vw;
    float: right;
    height: 2vw;
    width: 9vw;
    right: 5vw;
    top: 0;
    margin: 0.5vw;
    margin-top: 1vw;
    background-color: var(--red);
    border: 0.2vw;
    border-color: var(--red);
    border-style: solid;
}

.header_impressum:hover {
    border-width: 0.3vw;
    margin: 0.4vw;
    margin-top: 0.9vw;
}

.header_logout {
    font-size: 1.8vw;
    float: right;
    height: 2vw;
    width: 5.7vw;
    right: 0;
    top: 0;
    margin: 0.5vw;
    margin-top: 1vw;
    background-color: var(--red);
    border: 0.2vw;
    border-color: var(--red);
    border-style: solid;
}

.header_logout:hover {
    border-width: 0.3vw;
    margin: 0.4vw;
    margin-top: 0.9vw;
}

.register {
    font-size: 2vw;
    position: absolute;
    color: var(--maintext);
    background-color: var(--foreground);
    width: 24vw;
    left: 35%;
    top: 10%;
    border: 4vw;
    border-radius: 2vw;
    border-style: solid;
    border-color: var(--foreground);
}

.register form {
    margin-left: 8%;
}

.register input {
    border: none;
    color: var(--maintext);
    background-color: var(--background);
    margin-top: 0.2vw;
}

.register_input {
    height: 2vw;
    width: 20vw;
}

.register_login {
    float: left;
    border-style: solid;
    width: 5vw;
    height: 2vw;
    margin-left: 2vw;
    border-width: 0.5vw;
    border-color: var(--background);
    background-color: var(--background);
    margin-top: 0.25vw;
}

.register_send {
    float: left;
    font-size: 2vw;
    height: 3vw;
    width: auto;
}

.register_buttons {
    margin-top: 1vw;
    height: 1.5vw;
}

.register_buttons a {
    text-decoration: none;
    color: var(--maintext);
}

.login {
    font-size: 2vw;
    position: absolute;
    color: var(--maintext);
    background-color: var(--foreground);
    width: 24vw;
    left: 35%;
    top: 10%;
    border: 4vw;
    border-radius: 2vw;
    border-style: solid;
    border-color: var(--foreground);
}

.login form {
    margin-left: 8%;
}

.login input {
    border: none;
    color: var(--maintext);
    background-color: var(--background);
    margin-top: 0.2vw;
}

.login_input {
    height: 2vw;
    width: 20vw;
}

.login_register {
    float: left;
    border-style: solid;
    width: 7.5vw;
    height: 2vw;
    margin-left: 2vw;
    border-width: 0.5vw;
    border-color: var(--background);
    background-color: var(--background);
    margin-top: 0.25vw;
}

.login_send {
    float: left;
    font-size: 2vw;
    height: 3vw;
    width: auto;
}

.login_buttons {
    margin-top: 1vw;
    height: 1.5vw;
}

.login_buttons a {
    text-decoration: none;
    color: var(--maintext);
}

.content {
    width: 45vw;
    height: auto;
    margin-top: 4vw;
    margin-left: 25vw;
}

.zwicher {
    width: 45vw;
    height: auto;
    margin-top: 4vw;
    background-color: var(--foreground);
    border-radius: 1vw;
    border-style: solid;
    border-color: var(--foreground);
}

.zwicher_userpfp {
    height: 3vw;
    width: auto;
    font-size: 1.8vw;
}

.zwicher_userpfp img {
    height: 3vw;
    width: 3vw;
    border-radius: 100vw;
    margin-left: 0.5vw;
    margin-top: 0.5vw;
}

.zwicher_user {
    top: 0;
    left: 0;
    margin-top: -3.5vw;
    margin-left: 4vw;
}

.zwicher_uid {
    top: 0;
    left: 0;
    color: var(--background);
    font-size: 1vw;
    font-style: italic;
}

.zwicher_content {
    margin-left: 0.5vw;
    font-size: 1.8vw;
    width: 44vw;
    height: auto;
}

.zwicher_content img {
    width: 39vw;
    height: auto;
    margin-left: 2.5vw;
}

.profile_main {
    font-size: 3vw;
    left: 0;
    top: 0;
    margin-top: 3vw;
    margin-left: 0.5vw;
    width: auto;
}

.profile_main img {
    height: 5vw;
    width: 5vw;
    border-radius: 100%;
}
.profile_uid{
    top: 0;
    left: 0;
    margin-top: -0.5vw;
    margin-left: 6vw;
    font-size: 1vw;
    color: var(--foreground);
}
.eddit_profile_button{
    top: 0;
    right: 0;
    margin-left: 85vw;
    margin-top: -3.5vw;
}
.eddit_profile_button a{
    top: 0;
    right: 0;
    text-decoration: none;
    color: var(--background);
    background-color: var(--maintext);
    border-radius: 1vw;
    border:0.4vw;
    border-style: solid;
    border-color: var(--maintext);
    font-size: 2vw;
}

/* width */
::-webkit-scrollbar {
    width: 0.8vw;
}

/* Track */
::-webkit-scrollbar-track {
    background: var(--background);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--foreground);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--red);
}