:root {
    --main: #1b1b1b;
    --accent: #228ab3;
    --hover: #ffffff;
    --text: #ffffff;
}
@font-face 
{
    font-family: montserret-medium;
    src:url("/style/Montserrat-Medium.ttf");
}

body {
    color: var(--text);
    background-color: var(--main);
    font-family:"montserret-medium";
    background-image: url("/img/logo.png");
    font-size: larger;
}
.white-text {
    color: var(--text);
}

.topbar {
    padding: 10px;
    background-color: var(--accent); 
    height: 30px;
    margin-top: -8px;
    margin-left: -8px;
    color: var(--main);
    font-size: x-large;
    font-weight: bold;
	position: relative;
    width: 99.7%;
}
.bottombar {
    overflow: hidden;
    position: fixed;
    bottom: 0;
    padding: 10px;
    background-color: var(--accent); 
    width: auto;
    height: 18px;
    color: var(--main);
    font-size: small;
    font-weight: bold;
    position: fixed;
    z-index: 100; 
    bottom: 0; 
    left: 0;
    width: 100%;
    text-align: center;
}

.bottombar a {
    color: var(--main);
}

.topbar-left {
    float: left;
    color: var(--main);
}

.topbar-rigth {
    float: right;
    color: var(--main);
}
.search{
    padding-left: 10px;
    padding-bottom: 10px;
}
.logos{
    margin-top: 10px;
    height: 80px;
    width: auto;
}
.logos img{
    height: 64px;
    width: 64px;
    margin-left: 10px;
}
.logos img:hover{
    height: 70px;
    width: 70px;
    margin: 5px;
    margin-top: -14px;
    margin-right: -1px;
}
a {
    text-decoration: none;
    color: var(--accent);
    font-size: larger;
}

a:hover {
    color: var(--hover);
}

b {
    font-size: larger;
}